@import "tailwindcss";
/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@300;400;500;600;700&display=swap');

/* Auto Scroll Animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 18s linear infinite;
}


.font-orbitron {
    font-family: 'Orbitron', sans-serif;
}